In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
df = pd.read_csv ('RS-2-SW_S1_L001_R1_001.csv')
df.head()

                                    Read(s) sequence  ...                                        Ref. points
0  TCCGATTTTGGGGGCATCTGTGACTATGAACTGCACATACACATCC...  ...  :::::43:61:112:124:217::225:::::228::244:275:275:
1  TTTAGACCCAAACCGCCTTTATTTGTACCGACAGACCCGGGGGCAG...  ...  ::::::16:67:85:196::208:220:::230:231::247:275...
2  CCGTTCACGGGACTTTCATGACAAATCTATTTTTTGTGATCGTCAG...  ...   :::::10:28:79:100:211::222:::::234::247:275:275:
3  CCATACAGCCAAAATAAAAAAAAATTTCCCAGAATACGTACAGTGG...  ...  ::::::37:88:109:208::215:::::221:221:244:275:275:
4  AAATGCACTTCTTAAAGCATATTTAACACCTGGCTAGAGGACCAGC...  ...  :::::15:30:81:102:201:213:215:::::223::243:274...

[5 rows x 32 columns]

In [ ]:
alignment = df.loc[:2,['All V alignments', 'All J alignments']]
print(alignment)

                                    All V alignments         All J alignments
0     41|257|283|9|225|SA44GSC98ASG118AST136G|1024.0  30|77|77|228|275||235.0
1               87|285|310|10|208|SG100TST115G|962.0  23|67|67|231|275||220.0
2  68|290|313|0|222|SC74AST76GSG86TSC88ASC91ASA93...  26|67|67|234|275||205.0

**Caculate the mismatches**

In [ ]:
V= df['All V alignments'] = df['All V alignments'].astype(str)
print(V)

0           41|257|283|9|225|SA44GSC98ASG118AST136G|1024.0
1                     87|285|310|10|208|SG100TST115G|962.0
2        68|290|313|0|222|SC74AST76GSG86TSC88ASC91ASA93...
3        83|274|300|25|215|DC88SC91AST96GSG127TSC150ASA...
4        63|278|296|0|215|SC65ASC76AST99GSG100AST102GSA...
                               ...
16378      71|288|306|0|217|SA73TSA112CSA150CSA202C|1029.0
16379    70|284|304|2|216|SA89CDC101I104AST107AST109CST...
16380    65|281|300|0|216|SA70CSC98ASA110CSA150C|1024.0...
16381                   59|277|299|0|218|SG67TST97G|1062.0
16382         65|282|306|0|217|SC79ASC84ASA85CSA90G|1029.0
Name: All V alignments, Length: 16383, dtype: object

In [ ]:
S = V.str.count('S')
D = V.str.count('D')
I = V.str.count('I')

#print(I)

R= S+D+I
print(R)

0         4
1         2
2        22
3         6
4         7
         ..
16378     4
16379    15
16380     8
16381     2
16382     4
Name: All V alignments, Length: 16383, dtype: int64

**Count the number of mapped nucleotides**

In [ ]:
split= df['All V alignments'].str.split('|', expand=True)
df1=split

print(split)

       0    1    2   3    4   ...    26    27    28    29    30
0      41  257  283   9  225  ...  None  None  None  None  None
1      87  285  310  10  208  ...  None  None  None  None  None
2      68  290  313   0  222  ...  None  None  None  None  None
3      83  274  300  25  215  ...  None  None  None  None  None
4      63  278  296   0  215  ...  None  None  None  None  None
...    ..  ...  ...  ..  ...  ...   ...   ...   ...   ...   ...
16378  71  288  306   0  217  ...  None  None  None  None  None
16379  70  284  304   2  216  ...  None  None  None  None  None
16380  65  281  300   0  216  ...  None  None  None  None  None
16381  59  277  299   0  218  ...  None  None  None  None  None
16382  65  282  306   0  217  ...  None  None  None  None  None

[16383 rows x 31 columns]

In [ ]:
df1.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
30    object
dtype: object

In [ ]:
df2 = df1.astype(str)

df2.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
30    object
dtype: object

In [194]:
df2 = df1.convert_dtypes(int)

In [195]:
df2.dtypes

0     string
1     string
2     string
3     string
4     string
5     string
6     string
7     string
8     string
9     string
10    string
11    string
12    string
13    string
14    string
15    string
16    string
17    string
18    string
19    string
20    string
21    string
22    string
23    string
24    string
25    string
26    string
27    string
28    string
29    string
30    string
dtype: object

In [196]:
df2.head()

data2=df2

In [197]:
data2

       0    1    2   3    4   ...    26    27    28    29    30
0      41  257  283   9  225  ...  <NA>  <NA>  <NA>  <NA>  <NA>
1      87  285  310  10  208  ...  <NA>  <NA>  <NA>  <NA>  <NA>
2      68  290  313   0  222  ...  <NA>  <NA>  <NA>  <NA>  <NA>
3      83  274  300  25  215  ...  <NA>  <NA>  <NA>  <NA>  <NA>
4      63  278  296   0  215  ...  <NA>  <NA>  <NA>  <NA>  <NA>
...    ..  ...  ...  ..  ...  ...   ...   ...   ...   ...   ...
16378  71  288  306   0  217  ...  <NA>  <NA>  <NA>  <NA>  <NA>
16379  70  284  304   2  216  ...  <NA>  <NA>  <NA>  <NA>  <NA>
16380  65  281  300   0  216  ...  <NA>  <NA>  <NA>  <NA>  <NA>
16381  59  277  299   0  218  ...  <NA>  <NA>  <NA>  <NA>  <NA>
16382  65  282  306   0  217  ...  <NA>  <NA>  <NA>  <NA>  <NA>

[16383 rows x 31 columns]

In [198]:
df3= df2.iloc[:,0]
df4= df2.iloc[:,1]

horizontal_concat = pd.concat([df3, df4], axis=1)

df5 = horizontal_concat
df5

        0    1
0      41  257
1      87  285
2      68  290
3      83  274
4      63  278
...    ..  ...
16378  71  288
16379  70  284
16380  65  281
16381  59  277
16382  65  282

[16383 rows x 2 columns]

In [199]:
df5.head()

df5.columns = ['start', 'end']
df5

      start  end
0        41  257
1        87  285
2        68  290
3        83  274
4        63  278
...     ...  ...
16378    71  288
16379    70  284
16380    65  281
16381    59  277
16382    65  282

[16383 rows x 2 columns]

In [205]:
df5 = df5.apply(pd.to_numeric)
df5['reads'] = df5['end'] - df5['start']


df5

       start  end  reads
0         41  257    216
1         87  285    198
2         68  290    222
3         83  274    191
4         63  278    215
...      ...  ...    ...
16378     71  288    217
16379     70  284    214
16380     65  281    216
16381     59  277    218
16382     65  282    217

[16383 rows x 3 columns]

**The percentage of mismatches**

In [210]:
df5['percentage_of_mismatches']= R/df5['reads']
df5['Number_of_mismatches']= R
df5

       start  end  ...  Number_of_mismatches  percentage_of_mismatches
0         41  257  ...                     4                  0.018519
1         87  285  ...                     2                  0.010101
2         68  290  ...                    22                  0.099099
3         83  274  ...                     6                  0.031414
4         63  278  ...                     7                  0.032558
...      ...  ...  ...                   ...                       ...
16378     71  288  ...                     4                  0.018433
16379     70  284  ...                    15                  0.070093
16380     65  281  ...                     8                  0.037037
16381     59  277  ...                     2                  0.009174
16382     65  282  ...                     4                  0.018433

[16383 rows x 6 columns]